.header {
    background: #00203FFF;
    width: 100%;
}

:root {
    --light-background: #FC766AFF;
    --dark-border-color: #00203FFF
}

.posts {
    background: #00203FFF;
    width: 100%;
}


.content {
    background: #00203FFF;
    width: 100%;
}

body {
    color: #FFFFFFFF;
}

.footer {
    background: #00203FFF;
    color: #FFFFFFFF;
}

.footer .copyright{
    color: #FFFFFFFF;
}

.content{
    margin: 10px;
}

.pagination__title-h {
    background: #00203FFF;
}

.button {
    background: #FC766AFF;
}

.pagination__buttons {
    background: #00203FFF;
}

code {
    background: #FC766AFF;
}
